*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
.bg{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url(bg-16.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: cover;
    position: absolute;
}
/* .try{
    position:fixed;
    top: 10;
    width: 100%;
    background-color: green;
    font-family: monospace;
  } */

